@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #F8FAFC;
}

.react-flow__node {
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.react-flow__edge-path {
  transition: d 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
